@tailwind base;
@tailwind components;
@tailwind utilities;

.mapboxgl-popup-content {
    background-color: #f6f6f6;
    padding: 0.5rem; 
    border-radius: 8px;
}

.mapboxgl-popup-close-button {
    right:3px;
    top:-4px;
}